@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@300;400;500&display=swap");

/* Styles for every page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #17191f;
}

:root {
  --primary-color: #fff;
  --secondary-color: #327ba8;
  --powder-blue: #c6deef;
  --link-color: #5277b3;
  --tertiary-color: #393855;
  --light-grey: #f5f5f7;
  --sans-serif-head: "Lato", sans-serif;
  --sans-serif: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: var(--sans-serif);
  margin: 0 auto;
  color: var(--primary-color);
}

.subhead {
  font-family: var(--sans-serif-head);
  font-size: 17px;
  color: var(--primary-color);
  text-align: right;
}

.dev-name {
  font-family: var(--sans-serif);
  font-size: 38px;
  line-height: 1.2;
  color: var(--primary-color);
  font-weight: 500;
}

h1 {
  font-family: var(--sans-serif-head);
  font-size: 32px;
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: center;
  background-color: var(--secondary-color);
  color: #fff;
}

h2 {
  font-family: var(--sans-serif);
  font-size: 17px;
  margin: 0 auto;
  max-width: 250px;
}

/* Header Styles */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: sticky;
  border-bottom: 5px solid var(--secondary-color);
  top: 0;
  z-index: 9999;
}

/* Header Navigation */
header nav {
  padding-right: 35.2px;
  display: flex;
  align-items: center;
}

header nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
}

header nav ul li a {
  padding: 15px 0 5px;
  margin: 25px;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  background: transparent;
}

header nav ul li a:hover {
  color: var(--link-color);
  border-bottom: 4px solid var(--link-color);
}

.navActive {
  color: var(--link-color);
  border-bottom: 2px solid var(--link-color);
}

.header-block {
  padding: 20px 30px;
  margin-left: 30px;
}

.content {
  min-height: calc(100vh - 255px);
}

/* About me styles */
.about-me {
  padding: 45px 30px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
}
/* About me headshot */
.about-me img {
  flex: 0 14%;
  width: 200px;
  height: 100%;
  border-radius: 10%;
}

.about-me div > * {
  padding-bottom: 18px;
}

.about-me div p:first-of-type::after {
  content: "";
  display: block;
  border-bottom: 4px solid var(--link-color);
  width: 55px;
}

.about-me div hr {
  content: "";
  display: block;
  border: none;
  border-bottom: 4px solid var(--link-color);
  width: 100px;
  text-align: center;
}

.about-me div {
  flex: 0 50%;
  align-self: center;
}

.about-me div p:first-of-type {
  font-size: 22px;
}

.about-me div p {
  width: 85%;
}

.my-work {
  padding: 0 30px 10px;
}

.my-work .project-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
  padding-top: 35px;
}

.project-list > li {
  display: flex;
  align-items: flex-end;
  width: 48%;
  padding-left: 20px;
  height: 375px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  text-decoration: none;
  background-color: var(--tertiary-color);
}

.project-list > li:nth-child(even) {
  margin-left: 20px;
}

.project-list > li:hover::before {
  opacity: 0;
}

.project-list > li:hover {
  border-bottom: none;
  background-color: var(--secondary-color);
}

.project-list > li::before {
  content: "";
  opacity: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Projects images*/

.project-one::before {
  background-image: url(./assets/images/selfManagementApp.png);
  background-size: cover;
}

.project-two::before {
  background-image: url(./assets/images/note taker.PNG);
  background-size: cover;
}

.project-three::before {
  background-image: url(./assets/images/workday.PNG);
  background-size: cover;
}

.project-four::before {
  background-image: url(./assets/images/pw gen1.PNG);
  background-size: cover;
}

.project-five::before {
  background-image: url(./assets/images/weatherdash.PNG);
  background-size: cover;
}

/* Project styles */

.project-title {
  font-size: 26px;
  text-decoration: none;
  margin-right: 20px;
  color: #fff;
}

.project-title:hover {
  color: var(--link-color);
}

.project-list .project-description {
  display: block;
  padding: 20px 20px 15px;
  position: relative;
  top: 80px;
  align-self: flex-start;
  visibility: hidden;
}

.project-list p {
  font-size: 18px;
  padding-top: 10px;
  color: #fff;
  radius: 15%;
}

.project-list li:hover .project-description {
  visibility: visible;
}

/* Resume Page styles */

.resume p {
  text-align: center;
  margin: 30px auto;
  font-size: 30px;
  padding-top: 60px;
}

.resume a {
  text-decoration: none;
  color: var(--primary-color);
}

.resume a:hover {
  color: var(--link-color);
}

.resume p a svg {
  margin-left: 3px;
  vertical-align: middle;
}

/* Contact Form */
.contact-form {
  flex: 100%;
  max-width: 700px;
  margin: 20px auto 0;
  padding-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
}

.contact-form div {
  display: contents;
}

.contact-form label {
  flex: 100%;
  font-size: 1.125rem;
  color: var(--primary-color);
}

.contact-form input {
  height: 40px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--link-color);
  color: #fff;
}

.contact-form input,
.contact-form textarea {
  flex: 100%;
  margin-bottom: 10px;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 1rem;
  border: 2px solid var(--primary-color);
}

.contact-form textarea {
  font-family: var(--sans-serif);
  padding-top: 8px;
  color: #fff;
}

.contact-form button {
  flex: 0 50%;
  padding: 10px;
  margin: 15px auto;
  color: #ffff;
  font-size: 1.125rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.submit:hover {
  color: #fff;
  background-color: var(--link-primary)
}

.error-text {
  flex: 100%;
  height: 1.5em;
  color: red;
  font-size: 16px;
}

/* footer styles */
.footer-section {
  padding: 30px;
  text-align: center;
  color: #fff;
}

.footer-links {
  flex: 1;
}

.footer-links section:first-child {
  padding-bottom: 40px;
}

.footer-links li {
  list-style-type: none;
  display: inline-block;
}

.footer-links a {
  font-family: var(--sans-serif);
  color: var(--primary-color);
  font-size: 18px;
  text-decoration: none;
}

.footer-links a img {
  width: 40px;
}

.footer-links li:nth-child(2) {
  margin: 0 12px 0 15px;
}

.footer-section p {
  padding-top: 20px;
}

.footer-links li a span {
  background: #fff;
}

/* .icon-linkedin {
  mask: url(../src/assets/icons/linkedin-logo.svg);
  vertical-align: bottom;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  width: 45px;
  height: 45px;
}

.icon-github {
  mask: url(../src/assets/icons/github-logo.svg);
  vertical-align: bottom;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  width: 45px;
  height: 45px;
}
.icon-linkedin:hover {
  background: var(--link-color);
} */

/* Responsive */
@media screen and (max-width: 1365px) {
  h1 {
      flex: 0 20%;
  }

  .about-me div p {
      width: 95%;
  }

  .about-me img {
      margin: 0px 20px;
      padding-top: 20px;
  }
}

@media screen and (max-width: 980px) {
  header nav {
    justify-content: space-around;
    padding: 0 0 20px;
  }
}

@media screen and (max-width: 840px) {
  .header-block {
    margin-left: 0;
  }

  header nav ul li a {
    margin: 16px;
  }
  
}

@media screen and (max-width: 768px) {
  header {
    justify-content: center;
  }

  .project-list > li {
    flex: 1 0 100%;
  }

  .project-list > li:nth-child(even) {
    margin-left: 0;
  }

  .contact-form {
    margin: 20px 20px 0;
  }

  .proficiencies {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 540px) {
  .dev-name {
    margin-left: 0;
    padding: 10px 0 0;
  }
  
  header nav ul {
    justify-content: center;
    padding-top: 0;
  }

  header nav ul li {
    padding-top: 20px;
  }

  header nav ul li a {
    margin: 10px;
  }

  .about-me div {
    flex: 1 0 100%;
  }

  .about-me img {
    margin: 10px 0;
  }

  .proficiencies {
    margin-left: 20px;
  }

  .contact-form textarea {
    margin-bottom: 5px;
  }

  .error-text {
    height: 2em;
    font-size: 12px;
  }
}

@media screen and (max-width: 476px) {
  .project-list > li {
    padding-left: 15px;
  }
  
  .project-list .project-description {
    padding: 20px 5px 15px;
  }
  
  .proficiencies {
    display: block;
  }

  .proficiencies div {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 414px) {
  .header-block {
    padding: 20px 30px 10px;
  }

  .project-title {
    font-size: 22px;
  }
  
  .project-list > li {
    padding-left: 10px;
    padding-right: 10px;
  }

  .resume p {
    margin-bottom: 15px;
  }

  .proficiencies {
    padding-bottom: 30px;
    margin: 0;
  }
}