@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #333333;
  --secondary-color: #506cf0;
  --powder-blue: #c6deef;
  --link-color: #fe7860;
  --tertiary-color: #393855;
  --light-grey: #f5f5f7;
  --sans-serif-head: "Lato", sans-serif;
  --sans-serif: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

